h2{

 	text-align: center;
 }
 #image{
 	width: 50%; display: block; margin: auto;
 	position: relative;
 	bottom: 10;
 }
 .paragraph{
 	text-indent: 50px;
 }

 .container{
 	position: relative;
 	border: 3px solid blue;
 	text-align: center;
 }

#link1{
	float: left;
	position: relative;
	left: 20;
}

#link2{
	float: right;
	position: relative;
	right: 20;
}




